
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: linear-gradient(180deg, #1e3a8a, #1e3a8a 50%, #4f46e5);
    padding: 20px;
    border-radius: 0 25px 25px 0;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 10;
}

.dashboard-layout {
    display: flex;
}

.content-area {
    margin-left: 220px;

    padding: 20px;
    width: calc(100% - 220px);

}


nav .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

nav .profile-section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav .profile-section h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

nav .profile-section p {
    margin: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #a5b4fc;
}

nav .logout {
    font-size: 1em;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    margin-top: 20px;

}

nav .logout:hover {
    color: #a5b4fc;
}

.logout:hover {
    color: #a5b4fc;
}